:root {
  color: #172b4d;
  background: #f4f6f8;
  font-family:
    Inter,
    'Noto Sans SC',
    'Microsoft YaHei',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: rgb(var(--v-theme-background));
}

a {
  color: inherit;
}

.v-table > .v-table__wrapper > table > thead > tr > th {
  background-color: rgb(var(--v-theme-table-header));
}

.v-data-table .v-data-table-header__sort-icon {
  margin-inline-start: 4px;
  font-size: 16px;
}

.v-data-table
  > .v-table__wrapper
  > table
  > thead
  > tr
  > th:not(.v-data-table__th--sorted)
  .v-data-table-header__sort-icon {
  opacity: 0.3;
}
